
.main_text_style {
  color: black;
  font-size: 14px;
  font-family: Arial;
}
.h1 {
  font-weight: normal;
  margin:0;
}
.hr_top_margin{
  margin-top: 0;
}
.block-vert-line{
  border-left:3px solid black;
  height: 200px;
  left: 10%;
}

.reference {
  color: blue;
  font-size: 12px;
  font-family: Arial;
}
.left_text_col {
  width: 10%;
  float: left;
  font-size: 14px;
  padding: 0 0.25em;
  font-family: Arial;
}
.main_text_col {
  width: 80%;
  float: left;
  line-height: 1.7;
  border-left: 2px solid #A7D7F9;
  border-bottom: 2px solid #A7D7F9;
  border-top: 2px solid #A7D7F9;
  margin-bottom: 5px;
  background: #ffffff;
  margin: auto;
  padding: 20px;
}
.img {
  float:left;
  margin:0px 0px 0 0px;
 }
.display {
  display:block;
  width:30%;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: -10px;
}
.content {
  text-align: center;
  color: black;
  font-size: 12px;
  font-family: Arial;
}
.no_padding {
  padding: 0;
}
ol {
/* убираем стандартную нумерацию */
list-style: none;
/* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
counter-reset: li;
}
li:before {
/* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
counter-increment: li;
/* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
content: counters(li,".")" ";
}

/* .slide p,
.slide [type="checkbox"]{
    display:none;
}

.slide [type="checkbox"]:checked ~ p {
    display:block;
} */

.table {
  border: 1px solid #a2a9b1;
    background: #f8f9fa;
    /* margin-bottom: .5em;
    margin-left: 1em;
    padding: .4em; */
    float: right;
    clear: right;
    width: 23em;
    vertical-align: top;
    line-height: 1.5em;
    border-collapse: separate;
    border-spacing: 2px;
}
.main_table_text {
  text-align: left;
  font-weight: normal;
  font-size: 90%;
  vertical-align: top;
}
.b_main_table_text {
  text-align: left;
  font-weight: bold;
  font-size: 90%;
  vertical-align: top;
}
.header_table_text {
  font-weight: normal;
  text-align: center;
  font-size: 100%;
}
.b_header_table_text {
  text-align: center;
  background: #e0e0e0;
  font-weight: bold;
  font-size: 120%;
}


.table_img {
  text-align: center;
}
